<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?if $(var.Platform)=x64 ?>
		<?define ProductCode = "{EE870252-63BC-4B78-8639-45C1629D2170}" ?>
	<?else?>
		<?define ProductCode = "{97768286-C92D-48C9-8E81-443971AB226D}" ?>
	<?endif?>
	
	<?define UpgradeCode = "{DD1F25F3-C2D6-4B1B-ABDF-CF92A0043208}"?>
	
	<Product Id="$(var.ProductCode)"
			 Name="!(loc.ApplicationName)"
			 Language="!(loc.Language)"
			 Version="1.0.0"
			 Manufacturer="!(loc.Manufacturer)"
			 UpgradeCode="$(var.UpgradeCode)">
		
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Platform="$(var.Platform)"
				 Manufacturer="!(loc.Manufacturer)"
				 Description="!(loc.Description)"
				 Keywords="!(loc.Keywords)"
				 Comments="!(loc.Comments)"
				 Languages="!(loc.Language)"
				 />

		<!-- Downgrade error message -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

		<!-- Compress .cab into .msi -->
		<MediaTemplate EmbedCab="yes"/>
		
		<!-- <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
		<Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" />-->

		<Icon Id="AppIcon.ico" SourceFile="$(var.ProjectDir)\Assets\\AppIcon.ico" />

		<!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
		<Property Id="ARPPRODUCTICON">AppIcon.ico</Property>

		<!-- Create a basic UI for the installer -->
		<UIRef Id="WixUI_Minimal" />
	
		<!-- Change the installer UI background images -->
		<!--<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />-->
	
		<!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" Title="ConsoleApp" Level="1">

			<ComponentGroupRef Id="ProductComponents" />
			<!--<ComponentGroupRef Id="PublishedComponents" />-->
		
		</Feature>
	</Product>
</Wix>
